---
import Logo from "@/assets/logo.svg";

// Mobile TOC goes here because there's no slot after SiteTitle
import MobileToc from "@/components/MobileToc.astro";
---

<a
  href={Astro.locals.starlightRoute.siteTitleHref}
  title="Home"
>
  <Logo class="logo" />
</a>

<MobileToc />

<style lang="scss">
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 38px;
    width: 38px;
    color: var(--sl-color-text-accent);
  }
</style>
