---
import Logo from "@/assets/logo.svg"
---

<a href="/" title="Home">
  <Logo class="logo" />
</a>

<style lang="scss">
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 38px;
    width: 38px;
    color: var(--sl-color-text-accent);
  }
</style>
