
// Set fixed images size

.image {
  min-width: var(--image-size);
  min-height: var(--image-size);
  width: var(--image-size);
  height: var(--image-size);
  max-width: var(--image-size);
  max-height: var(--image-size);
}

// Make SVGs in DOM fit container
.svg-in-dom svg {
  width: 100%;
  height: 100%;
}

// Color animation

@keyframes color1 {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: greenyellow;
  }

  75% {
    color: blue;
  }

  100% {
    color: purple;
  }
}

@keyframes color2 {
  0% {
    color: red;
  }

  100% {
    color: blue;
  }
}

// You can apply animation to the whole container
.color-animation {
  animation: color1 1s linear infinite;
}

// Or, if you want to be really precise, select actual <use> element to animate.

.color-animation :nth-child(2n) {
  animation: color2 1s linear infinite;
}