@import url("vite-awesome-svg-loader/integration-utils/styles.css"); // Astro looses client-only styles upon navigation

// Fonts

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/roboto-italic-variable.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/roboto-regular-variable.ttf);
}

@font-face {
  font-family: "Roboto Static";
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/roboto-regular-static.ttf);
}

@font-face {
  font-family: "Hack";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/hack.ttf);
}

:root {
  // Demo-related

  --icons-vertical-spacing-raw: calc(var(--image-size) * 0.4);
  --icons-vertical-spacing: var(--icons-vertical-spacing-raw);
  --icons-vertical-spacing: clamp(20px, var(--icons-vertical-spacing-raw), 80px);
  --image-size: 72px;

  // Theme-related

  --sl-font: Roboto, "Roboto Static", sans-serif;
  --sl-font-mono: Hack, "Roboto Mono", "Roboto Mono Static", monospace;

  // Dark mode

  --sl-color-hairline-light: var(--sl-color-gray-4);

  // Light mode

  &[data-theme="light"],
  [data-theme="light"] {
    --sl-color-hairline-light: var(--sl-color-gray-5);
  }
}

// Starlight markup

html {
  overflow-y: scroll; // So no blank space would be visible
}

#starlight__sidebar {
  scrollbar-gutter: stable; // Blank space looks ok. overflow-y: scroll is ugly here.
}

.main-pane {
  flex: 1;

  & > main {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }

  .sl-container {
    max-width: unset;
  }
}

.right-sidebar-container {
  max-width: 300px;
}

// ClientRouter breaks search bar after navigation. So we'll add view transitions to mask font swapping.
// This is taken from the Expressive code's site:
// https://github.com/expressive-code/expressive-code/blob/b5fad4d5fd4a1ad46bac46b888f890f5e678a869/docs/src/styles/custom.css#L81

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root::view-transition-old(root),
:root::view-transition-new(root) {
  animation-duration: 0.1s;
}

// Code

.expressive-code .frame {
  box-shadow: none;
}

.ec-line {
  line-height: 1.2rem;
}

// Standalone images

.standalone-image {
  background-origin: 0 0;

  &,
  & > svg {
    width: fit-content;
    max-height: 200px;
  }
}

div.standalone-image {
  display: flex;
  width: 100%;
  max-height: unset;
}

// Image lists

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden; // Not sure where it comes from
  user-select: none;
}

// Set fixed images size

.image {
  min-width: var(--image-size);
  min-height: var(--image-size);
  width: var(--image-size);
  height: var(--image-size);
  max-width: var(--image-size);
  max-height: var(--image-size);

  & > svg {
    width: 100%;
    height: 100%;
  }
}

.skip-elements-image {
  height: fit-content;
  max-height: max(200px, var(--image-size));
  color: red;
}

// Common classes

.cfg-replace-color {
  color: red;
}

.hidden {
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  overflow: hidden !important;
}

.demo-section-caption {
  font-weight: 600;
  margin-bottom: 8px;

  &:not(:first-of-type) {
    margin-top: 28px;
  }
}

.demo-button {
  padding: 4px 12px;
  border-radius: 0.5rem;
  color: var(--sl-color-text-invert);
  background-color: var(--sl-color-text-accent);
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: var(--sl-color-accent-low);
    cursor: not-allowed;
  }
}
