html {
  overflow-y: scroll; // So no blank space would be visible
}

#starlight__sidebar {
  scrollbar-gutter: stable; // Blank space looks ok. overflow-y: scroll is ugly here.
}

.main-pane {
  flex: 1;

  & > main {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }

  .sl-container {
    max-width: unset;
  }
}

.right-sidebar-container {
  max-width: 300px;
}

// ClientRouter breaks search bar after navigation. So we'll add view transitions to mask font swapping.
// This is taken from the Expressive code's site:
// https://github.com/expressive-code/expressive-code/blob/b5fad4d5fd4a1ad46bac46b888f890f5e678a869/docs/src/styles/custom.css#L81

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root::view-transition-old(root),
:root::view-transition-new(root) {
  animation-duration: 0.1s;
}
