# https://github.com/marketplace/actions/deploy-to-github-pages

name: Deploy to GitHub Pages

on:
  release:
    types: [created]
  workflow_dispatch:

env:
  DOCS_BASE_URL: /vite-awesome-svg-loader

jobs:
  deploy:
    concurrency: ci-${{ github.ref }} # Recommended if you intend to make multiple deployments in quick succession.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 24
      - run: echo "$DOCS_BASE_URL"
      - run: npm install --verbose
      - run: export DOCS_BASE_URL="$DOCS_BASE_URL" && npm run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./apps/docs/dist
